<!DOCTYPE html>
<html>
  <head>
    <title>The Seattle Yorker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <nav>
      <div id='website-header'>
        <%= link_to 'Home', :root %>
        <%= link_to 'Create an account',  %>
        <h1>The Seattle Yorker</h1>
      <div>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
