<!DOCTYPE html>
<html>
  <head>
    <title>The Seattle Yorker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <nav>
      <%= link_to 'Home', :root %>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
